@import url("bootstrap.css");
@import url("bootstrap-switch.css");
@import url("font-awesome/css/font-awesome.css");
@import url("calendar.css");
@import url("select2.css");
@import url("bootstrap-select2.css");
@import url("fileinput.css");
@import url("bootstrap-datetimepicker.css");
@import url("bootstrap-social.css");
@import url("intlTelInput.css");
@import url("backgrid.css");
@import url("backgrid-paginator.css");
@import url("typeahead.css");


/* Sticky footer styles
-------------------------------------------------- */
body, html {
  height: 100%;

}
body.full-height-column{
    display: table;
    height: 100%;
    width: 100%;
}
.full-height-row{
    display: table-row;
    height: 1px;
}
.full-height-row-expanded{
    display: table-row;
}
div#calipsoMainContentRegion{
    /* padding according to nav/header height;
    padding-top: 70px;*/
}

/* Misk
-------------------------------------------------- */

.tmpl-hint{display:none;}
.hidden{display:none}

/*
 * Social buttons
*/
.btn-social-login, .btn-social-login:hover{
    text-align:left;
}
.btn-social-login-facebook{
    color: #3c568b;
}
.btn-social-login-linkedin{
    color: #0d7cb7;
}
.btn-social-login-google{
    color: #df4b38;
}
.btn-social-login-github{
    color: #000000;
}
.btn-social-login-twitter{
    color: #0084b4;
}
.btn-cancel-search,
button[class^="btn-cancel-search-"], button[class*=" btn-cancel-search-"] {
    display: none;
}

/* responsive main navbar */
@media (max-width: 544px) {
  .navbar-brand {
    display:none;
  }
  .navbar-nav .nav-item {
    float:none;
  }
  .navbar-nav .nav-item + .nav-item{
    margin-left:0;
  }
}


/* Responsive table */
@media screen and (max-width: 620px){
    table.responsive-table thead {
      display: none;
    }
    table.responsive-table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }
    table.responsive-table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }
    table.responsive-table td:last-child {
      border-bottom: 0;
    }
    table.responsive-table td:before {
      content: attr(data-title);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
