@import url("bootstrap.css");
@import url("bootstrap-switch.css");
@import url("font-awesome/css/font-awesome.css");
@import url("calendar.css");
@import url("select2.css");
@import url("bootstrap-select2.css");
@import url("fileinput.css");
@import url("bootstrap-datetimepicker.css");
@import url("intlTelInput.css");
@import url("calipso.css");
@import url("style.css");
@media (max-width: 544px) {
  .navbar-brand {
    display:none;
  }
  .navbar-nav .nav-item {
    float:none;
  }
  .navbar-nav .nav-item + .nav-item{
    margin-left:0;
  }
}
