/**
*  Your specific application stylesheet
**/

label, input {
	display: inline
}

label {
	font-weight:bold;
}

.form-block {
	  display:block; 
}

/*
 * Visual styles for this demo
 */
body, html {
  height: 100%;
  
}
html, body, #full-height-wrapper { height: 100%; }
body > #full-height-wrapper { height: auto; min-height: 100%; 
 position: relative;}

.panel-title a[data-toggle="collapse"]{
	display: block;
}