<div class="tmpl-hint">start applayout.hbs</div>
<div id="calipsoAppLayoutNavRegion">
	<!-- -->
</div>
<div id="calipsoAppLayoutContentRegion">
	<!-- main content here -->
</div>
<div class="tmpl-hint">end applayout.hbs</div>