<div class="tmpl-hint">start applayout.hbs</div>
<div id="calipsoMainContentSidebar" class="sidebar">
	sidebar
</div>
<div id="calipsoMainContentNavRegion" class="container">
	<!-- -->
</div>
<div id="content" class="container">
	<!-- main content here -->
</div>
<div class="tmpl-hint">end applayout.hbs</div>