<div class="tmpl-hint">start applayout.hbs, tagName: div, className: </div>

<div id="calipsoAppLayoutNavRegion">
</div>
<div id="calipsoAppLayoutContentRegion" class="row">
</div>

<div class="tmpl-hint">end applayout.hbs </div>