  <header class="navbar  full-height-row" id="calipsoHeaderRegion">
  </header>

  <main class="full-height-row-expanded">
      <div class="container configurable-fluid" id="calipsoMainContentRegion"></div>
  </main>

  <div class="full-height-row">
      <div id="calipsoModalRegion" class="modal fade" tabindex='-1'></div>
      <div id="hiddenWrapper" style="display: none"></div>
      <div class="social-form-container">
      </div>
  </div>

  <footer class="full-height-row">
      <div  id="calipsoFooterRegion"></div>
  </footer>
