<div class="tmpl-hint">start footer</div>
<div>
	<p class="credit text-muted text-center">
		© Copyright 2010 - 2014 <a title="Powered by Abiss.gr"
			href="http://abiss.gr">Abiss.gr</a>
	</p>
</div>
<div class="tmpl-hint">end footer</div>