<div class="tmpl-hint">start footer</div>
<div class="container configurable-fluid">
    <div class="row">
        <div class="col-xs-12 copyright">
            <p class="credit text-muted text-center">
                 {{configProperty "footer"}}
            </p>
        </div>
    </div>
</div>
<div class="tmpl-hint">end footer</div>
