<div class="tmpl-hint">start generic-collection-grid-view.hbs</div>
<div>
	<ul class="nav nav-tabs">
	  <li class="active">
	  	<a href="#">
		  <span class="glyphicon glyphicon-list-alt lead visible-xs"></span>
		  <span class="hidden-xs"><span class="glyphicon glyphicon-list-alt"></span> results</span>
		</a>
	  </li>
	  <li>
	  	<a href="#">
		  <span class="glyphicon glyphicon-search lead visible-xs"></span>
		  <span class="hidden-xs"><span class="glyphicon glyphicon-search"></span> search</span>
		</a>
	  </li>
	  <li>
	  	<a href="#">
		  <span class="glyphicon glyphicon-pencil lead visible-xs"></span>
		  <span class="hidden-xs"><span class="glyphicon glyphicon-pencil"></span> new</span>
		</a>
	  </li>
	</ul>
</div>
<br />
<div id="backgrid"></div>
<div id="backgrid-paginator"></div>
<div class="tmpl-hint">end generic-collection-grid-view.hbs</div>