<div class="tmpl-hint">start generic-home-layout</div>
	<div class="col-sm-3" id="calipsoSearchCriteriaRegion">
	    <!--Sidebar content-->
	</div>
	<div class="col-sm-9" id="calipsoSearchResultsRegion">
		<!--Body content-->
	</div>
<div class="tmpl-hint">end generic-home-layout</div>