<h3>Users</h3>
<div class="btn-group">
  	<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> new</button>
  	<button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> search</button>
  </div>
<div id="backgrid">
</div>
<div id="backgrid-paginator">
</div>