<div class="tmpl-hint">start generic-collection-grid-view.hbs</div>
<div id="generic-crud-layout-tab-panel-Search" class="generic-crud-layout-tab-panel">
	<br />
	<div id="backgrid"></div>
	<div id="backgrid-paginator"></div>
</div>	
<div class="tmpl-hint">end generic-collection-grid-view.hbs</div>