<div class="tmpl-hint">start GenericFormView</div>
<div id="generic-form-{{id}}">
</div>
<button class="btn btn-primary submit" type="submit">submit</button>
<div class="tmpl-hint">end GenericFormView</div>