<div>
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> results</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-search"></span> search</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> new</a></li>
	</ul>
</div>
<br />this is a test
<div id="backgrid" class="table-responsive"></div>
<div id="backgrid-paginator"></div>