
	<div class="row-fluid">
    	<div class="col-md-3" id="calipsoSearchCriteriaRegion">
		    <!--Sidebar content-->
    	</div>
    	<div class="col-md-9" id="calipsoSearchResultsRegion">
    		<!--Body content-->
    	</div>
    </div>