<div class="tmpl-hint">start generic-crud-layout.hbs</div>
<!--div class="labels tabbable"></div-->
<div  id="generic-crud-layout-tab-labels" class="container tab-labels tabbable">
	<ul class="nav nav-tabs">
	</ul>
</div>
<div id="generic-crud-layout-tab-contents" class="contents tabbable"></div>
<div class="tmpl-hint">end generic-crud-layout.hbs</div>