
	<div class="row-fluid" style="border:2px solid yellow">
	
    	<div class="col-md-3" id="calipsoSearchCriteriaRegion">
		    <!--Sidebar content-->
    	</div>
    	<div class="col-md-9" id="calipsoSearchResultsRegion">
    		<!--Body content-->
    	</div>
    </div>