<div class="tmpl-hint">start generic-collection-grid-view.hbs</div>
	<div class="pull-right btn-group">
		<button class="close btn-lg btn-info" type="button">
			<i class="glyphicon glyphicon-remove"></i>
		</button>
	</div>
    <h3>Αποτελέσματα Αναζήτησης</h3>
	<div id="backgrid"></div>
	<div id="backgrid-paginator"></div>
<div class="tmpl-hint">end generic-collection-grid-view.hbs</div>