<div class="tmpl-hint">start GenericFormView</div>
<div class="generic-form-view">
</div>
<div>
	<button class="btn btn-default btn-cancel-{{formSchemaKey}} cancel" type="button">
	    <span class="glyphicon glyphicon-menu-left"></span>
	    cancel
	</button>
	<button class="btn btn-primary submit" type="submit">
	    <span class="glyphicon glyphicon-search"></span>
	    submit
	</button>
</div>
<br class="clear" />
<div class="tmpl-hint">end GenericFormView</div>