<div class="tmpl-hint">start generic-search-layout.hbs</div>
	<div id="calipsoSearchFormRegion">search layout</div>
	<div id="calipsoSearchResultsRegion"></div>
<div class="tmpl-hint">end generic-search-layout.hbs</div>