<div class="tmpl-hint">start GenericFormView</div>
<div id="generic-crud-layout-tab-panel-{{id}}" class="generic-crud-layout-tab-panel">
	<div id="generic-form-{{id}}">this is a generic form</div>
</div>
<div class="tmpl-hint">end GenericFormView</div>