<div class="tmpl-hint">start GenericSearchLayout</div>
	<div class="row">
    	<div class="col-sm-3" id="calipsoSearchCriteriaRegion">
		    <!--Sidebar content-->
    	</div>
    	<div class="col-sm-9" id="calipsoSearchResultsRegion">
    		<!--Body content-->
    	</div>
    </div>
  <div class="tmpl-hint">end GenericSearchLayout</div>