<div class="tmpl-hint">start generic-crud-layout.hbs</div>
<!--div class="labels tabbable"></div-->
<div class="container tab-labels tabbable">
	<ul class="nav nav-tabs">
	</ul>
</div>
<div class="contents tabbable"></div>
<div class="tmpl-hint">end generic-crud-layout.hbs</div>