<div class="tmpl-hint">start GenericFormView</div>
<div class="generic-form-view row">
</div>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
		<button class="btn btn-default btn-cancel-{{formSchemaKey}} cancel" type="button">
		    <span class="glyphicon glyphicon-menu-left"></span>
		    cancel
		</button>
		<button class="btn btn-primary submit" type="submit">
		    <span class="glyphicon glyphicon-search"></span>
		    submit
		</button>
	</div>
</div>
<br class="clear" />
<div class="tmpl-hint">end GenericFormView</div>