<div class="tmpl-hint">start generic-collection-grid-view.hbs</div>

<br />
<div id="backgrid"></div>
<div id="backgrid-paginator"></div>
<div class="tmpl-hint">end generic-collection-grid-view.hbs</div>