<!-- headerNotificationsCollectionView -->
<a href="#" data-toggle="dropdown" class="dropdown-toggle">
    <i class="fa fa-bell fa-fw"></i><sup class="badge badge-primary badge-notifications-count hidden"></sup>
    <i class="fa fa-caret-down"></i>
</a>
<ul class="dropdown-menu dropdown-notifications">

</ul>
<!-- /headerNotificationsCollectionView -->