<div>
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#"><span class="glyphicon glyphicon-list-alt"></span> feed</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-search"></span> discussions</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> tasks</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-pencil"></span> notes</a></li>
	  <li><a href="#"><span class="glyphicon glyphicon-search"></span> content</a></li>
	</ul>
</div>
<br />
<div id="backgrid" class="table-responsive"></div>
<div id="backgrid-paginator"></div>