<div class="row">
    <div class="col-sm-6">
        <h4>Κατάστημα Λιανικής</h4>
    </div>
    <div class="col-sm-6">
        <ul class="list-inline">
            <li><a data-toggle="tab" href="#">Οι πελάτες μου</a></li>
            <li><a data-toggle="tab" href="#">Αναφορές</a></li>
            <li><a data-toggle="tab" href="#">Απόδοση</a></li>
            <li><a data-toggle="tab" href="#">Στόχοι</a></li>
          </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-5">
        Αφορμές επικοινωνίας κατά προτεραιότητα <br />
        <button type="button" class="btn btn-lg btn-primary" disabled="disabled">Portfolio</button> <br />
        <button type="button" class="btn btn-default btn-lg" disabled="disabled">Κατάστημα</button>
    </div>
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-user"></span> 
                        Λειτουργός: <strong>151 39 ΑΓΓΕΛΙΚΗ ΦΙΛΙΠΠΟΠΟΥΛΟΥ</strong>
                    </button>
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-user"></span> 
                                Λειτουργός: <strong>152 14 ΓΙΩΡΓΟΣ ΦΩΤΕΙΝΟΠΟΥΛΟΣ</strong>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="bg-orange">
                    <p>Υψηλή</p>
                    <br />
                    <p class="lead">36</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-blue">
                    <p>Μεσαία</p>
                    <br />
                    <p class="lead">125</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="bg-green">
                    <p>Χαμηλή</p>
                    <br />
                    <p class="lead">23</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        Ατζέντα / Μάρτιος 2014 
        <span class="pull-right">
            <a href="#"><span class="glyphicon glyphicon-th"></span></a>
            <span class="blank"> </span>
            <a href="#"><span class="glyphicon glyphicon-resize-full"></span></a>
        </span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-calendar-week">
        
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#mon">Δευτέρα <h5>26</h5></a></li>
            <li class="active"><a data-toggle="tab" href="#tue">Τρίτη <h5>27</h5></a></li>
            <li class="active"><a data-toggle="tab" href="#wed">Τετάρτη <h5>28</h5></a></li>
            <li class="active"><a data-toggle="tab" href="#thu">Πέμπτη <h5>29</h5></a></li>
            <li class="active"><a data-toggle="tab" href="#fri">Παρασκευή <h5>30</h5></a></li>
          </ul>
          <div class="tab-content" id="myTabContent">
                <div id="mon" class="tab-pane fade active in">
                  <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica.</p>
                  
                </div>
          </div>
        </div>
    </div>
</div>
