<div class="tmpl-hint">start HomeLayout.hbs</div>
<div class=" no-gutter">

	<div class="jumbotron-landing" style="display: none;">
		<div id="HomeLayout-searchFormRegion" class="container">
			<div class="desc-wrapper">
				<p></p>
				<p>

				</p>

				<div class="col-xs-12 howTo">
				    <a class="howTo" href="*">LEARN MORE</a>
				</div>
				<br class="clear" />
			</div>
		</div>
	</div>

</div>
<div class="howTo-content" style="display: none;">
    <a class="howTo-collapse" href="*"><i class="fa fa-chevron-up"></i></a>
    <div class="row">
        <!--div class="col-xs-12 col-sm-6 col-md-3">
        </div-->
        <p></p>
    </div>
</div>







<div class="container">
	<div id="serviceShowcase" class="row">
		<div class="col-xs-12">
			<div id="HomeLayout-recommendedRegion" class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12">
							<div class="well">
								<h4 style="text-align: center">
	                                 {{labels.tmpl.HomeLayout.well1a}} <br /> <small>{{labels.tmpl.HomeLayout.well1b}}</small>
	                            </h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="tmpl-hint">end HomeLayout.hbs</div>
