<div class="tmpl-hint">start LoginFormView.hbs.hbs</div>
<div class="row">
    <div class="col-md-8 m-x-auto pull-xs-none vamiddle" style="margin-top: 224px;">
        <div class="card-group ">
            <div class="card p-a-2">
                <div class="card-block">
                    <h1>{{{viewTitle}}}</h1>
                    <p class="text-muted">{{{viewMessage}}}</p>
                    <form>
                    </form>
                </div>
            </div>
            <div class="card card-inverse card-primary p-a-2">
                <div class="card-block text-xs-center">
                    <div>
                        <h2>Sign up</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button type="button" class="btn btn-primary active m-t-1">Register Now!</button>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
<div class="tmpl-hint">end LoginFormView.hbs.hbs</div>