<div class="panel panel-login">
    <div class="panel-heading">
        <h3><span class="glyphicon glyphicon-lock"></span> Login</h3>
    </div>
    <div class="panel-body">
        <form class="form-login form-horizontal" id="login">
          <div class="alert alert-error" style="display:none">
            Incorrect login credentials.
          </div>
          <!--h2 class="form-login-heading">Login</h2-->
          <input required class="input-block-level input-email" placeholder="Username/email" name="email" value="{{ email }}">
          <input required type="password" class="input-block-level input-password" placeholder="Password" name="password" value="{{ password }}">
    
          <p id="changePassToggle" style="font-weight:bold;cursor:pointer;"><i class="ion-ios7-arrow-thin-right" style="width:15px;"></i> Change password</p>
         
          <div id="changePassSection" class="tmpl-hint">
          <input required class="input-block-level new-password" placeholder="New password" name="newPassword" type="password" value="">
          <input required class="input-block-level new-password-confirm" placeholder="Confirm new password" name="newPasswordConfirm" type="password" value="">
          
          </div>
          <button class="btn btn-login" type="submit">Login</button>
        </form>
    </div>
</div>
