<form class="form-login form-horizontal" id="login">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				<span class="glyphicon glyphicon-lock"></span> Login
			</h3>
		</div>
		<div class="panel-body">

			<div class="alert alert-error" style="display: none">
				<p>Incorrect login credentials.</p>
			</div>
			<p>
				<label for="email" class="control-label">Username or email</label>

				<input class="form-control input-email" required="required"
					class="input-block-level input-email" name="email"
					value="{{ email }}" />
			</p>
			<p>
				<label for="password" class="control-label">Username or	email</label> 
				<input class="form-control input-password"
					required="required" type="password"
					class="input-block-level input-password" name="password"
					value="{{ password }}" />
			</p>

			<!-- 
           <p id="changePassToggle" style="font-weight: bold; cursor: pointer;">
               <i class="ion-ios7-arrow-thin-right" style="width: 15px;"></i>
               Change password
           </p>

           <div id="changePassSection" class="tmpl-hint">
               <input required class="input-block-level new-password"
                   placeholder="New password" name="newPassword" type="password"
                   value=""> <input required
                   class="input-block-level new-password-confirm"
                   placeholder="Confirm new password" name="newPasswordConfirm"
                   type="password" value="">

           </div> -->
			<p>

				<button class="btn btn-primary" type="submit">Login</button>
			</p>
		</div>
	</div>
</form>
