<div class="tmpl-hint">start md-browse-layout.hbs</div>
<div id="calipsoModelDrivenBrowseLayout-contentRegion" class="row">
	<!--Body content-->
</div>
<div class="tmpl-hint">end md-browse-layout.hbs</div>