<div class="tmpl-hint">start md-browse-layout.hbs</div>
<div class="col-sm-12" id="calipsoModelDrivenBrowseLayout-contentRegion">
	<!--Body content-->
</div>
<div class="tmpl-hint">end md-browse-layout.hbs</div>