<div class="tmpl-hint">start generic-collection-grid-view.hbs</div>
<p class="right">

</p>
<div class="panel panel-default backgrid-table-container">
  <!-- Default panel contents -->
  <div class="card-header">
    Panel heading
    <span class="badge resultsInfo">
      {{resultsInfo.pageStart}} - {{resultsInfo.pageEnd}} / {{resultsInfo.totalRecords}}
    </span>
  </div>
  <div class="card-block">
    <div class="backgrid-paginator-container"></div>
  </div>
<div class="tmpl-hint">end generic-collection-grid-view.hbs</div>
