<div class="tmpl-hint">start generic-collection-grid-view.hbs</div>
<p>Results {{resultsInfo.pageStart}} to {{resultsInfo.pageEnd}} of {{resultsInfo.totalRecords}}
<div class="backgrid-table-container"></div>
<div class="backgrid-paginator-container"></div>
<div class="tmpl-hint">end generic-collection-grid-view.hbs</div>
