<div class="tmpl-hint">start generic-collection-grid-view.hbs</div>
<p class="resultsInfo">{{resultsInfo.pageStart}} - {{resultsInfo.pageEnd}} / {{resultsInfo.totalRecords}}</p>
<div class="backgrid-table-container"></div>
<div class="backgrid-paginator-container"></div>
<div class="tmpl-hint">end generic-collection-grid-view.hbs</div>
