<div class="tmpl-hint">start generic-collection-grid-view.hbs</div>
<!--[if lte IE 8]>
    <div class="backgrid-fixed-header"></div>
<![endif]-->
<div class="backgrid-table-container"></div>
<div class="backgrid-paginator-container"></div>
<div class="tmpl-hint">end generic-collection-grid-view.hbs</div>