<div class="tmpl-hint">start generic-crud-layout</div>
    <div  id="calipsoTabLabelsRegion">
        <!-- tab labels -->
    </div>
    <div id="calipsoTabContentsRegion" class="tab-content">
        <!-- tab panes -->
    </div>
<div class="tmpl-hint">end generic-crud-layout</div>