<div class="tmpl-hint">start md-form-view</div>
<div class="generic-form-view">
</div>
{{#unless calipsoFormSubmitButton}}
<div class="">
	<button class="btn btn-default btn-cancel-{{formSchemaKey}} cancel" type="button">
	    <span class="glyphicon glyphicon-menu-left"></span>
	    cancel
	</button>
	<button class="btn btn-primary submit" type="submit">
	    <span class="glyphicon glyphicon-search"></span>
	    submit
	</button>
</div>
{{/unless}}
<br class="clear" />
<div class="tmpl-hint">end md-form-view</div>
