<div class="tmpl-hint">start md-form-view</div>
<div class="panel panel-default">
  <div class="panel-heading">{{ formSchemaKey }}</div>
  <div class="panel-body">
    <div class="generic-form-view">
    </div>
    <br class="clear" />
  </div>
</div>
<div class="tmpl-hint">end md-form-view</div>
