<div class="tmpl-hint">start md-report-view.hbs</div>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-heading">Top Totals</div>
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-4by3">
                <canvas class="chart-totals embed-responsive-item"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-9">
        <div class="panel panel-default">
            <div class="panel-heading">Top Entries</div>
            <div class="panel-body chart-legend">
              <div>
                <canvas class="chart" width="400" height="400"></canvas>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">Report</div>
            <div class="panel-body">
              <!--[if lte IE 8]>
                  <div class="backgrid-fixed-header"></div>
              <![endif]-->
              <div class="backgrid-table-container"></div>
              <div class="backgrid-paginator-container"></div>
            </div>
          </div>
    </div>
</div>
<div class="tmpl-hint">end md-report-view.hbs</div>
