<div class="tmpl-hint">start md-report-view.hbs</div>
<div class="row">
    <div class="col-xs-2">
        <div class="panel panel-default chart-legend">
            <div class="panel-heading">Totals</div>
            <div class="panel-body">
                <div class="embed-responsive embed-responsive-4by3">
                <canvas class="chart-totals embed-responsive-item"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-10">
       <div>
            <canvas class="chart" width="400" height="400"></canvas>
        </div>
    </div>
</div>
<!--[if lte IE 8]>
    <div class="backgrid-fixed-header"></div>
<![endif]-->
<div class="backgrid-table-container"></div>
<div class="backgrid-paginator-container"></div>
<div class="tmpl-hint">end md-report-view.hbs</div>