<div class="tmpl-hint">start md-browse-layout.hbs</div>
<div class="col-sm-3" id="calipsoModelDrivenSearchLayout-sideBarRegion">
    <!--Body content-->
</div>
<div class="col-sm-9" id="calipsoModelDrivenSearchLayout-contentRegion">
    <!--Body content-->
</div>
<div class="tmpl-hint">end md-browse-layout.hbs</div>