<div class="tmpl-hint">start md-browse-layout.hbs</div>
			<div 
				id="calipsoModelDrivenSearchLayout-sideBarRegion">
				<!--  panel content -->
			</div>
			<div
				id="calipsoModelDrivenSearchLayout-contentRegion">
				<!--  panel content -->
			</div>
<div class="tmpl-hint">end md-browse-layout.hbs</div>
