<div class="tmpl-hint">start md-browse-layout.hbs</div>
<div class="panel-group" id="calipsoModelDrivenSearchLayout-accordion"
	role="tablist" aria-multiselectable="true">

	<div class="panel panel-default">
		<div class="panel-heading" role="tab"
			id="calipsoModelDrivenSearchLayout-headingOne">
			<h3 class="panel-title">

				<a class="collapsed" data-toggle="collapse"
					data-parent="#calipsoModelDrivenSearchLayout-accordion"
					href="#collapseOne" aria-expanded="true"
					aria-controls="collapseOne">Search</a>
			</h3>
		</div>

		<div id="collapseOne" class="panel-collapse collapse"
			role="tabpanel"
			aria-labelledby="calipsoModelDrivenSearchLayout-headingOne">
			<div class="panel-body"
				id="calipsoModelDrivenSearchLayout-sideBarRegion">
				<!--  panel content -->
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading" role="tab"
			id="calipsoModelDrivenSearchLayout-headingTwo">
			<h3 class="panel-title">
				<a class="collapsed" data-toggle="collapse"
					data-parent="#calipsoModelDrivenSearchLayout-accordion"
					href="#collapseTwo" aria-expanded="false"
					aria-controls="collapseTwo">Results</a>
			</h3>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
			aria-labelledby="calipsoModelDrivenSearchLayout-headingTwo">
			<div class="panel-body"
				id="calipsoModelDrivenSearchLayout-contentRegion">
				<!--  panel content -->
			</div>
		</div>
	</div>

</div>
<div class="tmpl-hint">end md-browse-layout.hbs</div>
