<div class="tmpl-hint">start md-search-layout.hbs</div>
<div class="panel-group" id="calipsoModelDrivenSearchLayout"
    role="tablist" aria-multiselectable="true">

    <div class="col-xs-3 serviceSearch">
        <div id="calipsoModelDrivenSearchLayout-sideBarRegion" class="well"></div>
    </div>
    <div class="col-xs-9 serviceResults">
        <div id="calipsoModelDrivenSearchLayout-contentRegion"></div>
    </div>

</div>
<div class="tmpl-hint">end md-search-layout.hbs</div>
