<div class="tmpl-hint">start modal-layout.hbs</div>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button class="close" aria-hidden="true" data-dismiss="modal" type="button"> x </button>
			<h4 class="view-title">modal title</h4>
		</div>
		<div class="modal-body">

		</div>
	</div>
</div>
<div class="tmpl-hint">end modal-layout.hbs</div>
