<div class="tmpl-hint">start support.hbs</div>
<div class="container configurable-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="well well-sm">
				<h3>Support </h3>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="card-header">Github</div>
				<div class="card-block">
	               <p>{{labels.tmpl.support.faqPanelText1}}</p>
	            </div>
				<div class="list-group">
					<a class="list-group-item" href="https://github.com/abissgr/calipso-hub">
					   https://github.com/abissgr/calipso-hub
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tmpl-hint">end support.hbs</div>
