<div class="tmpl-hint">start tab-label</div>
{{#ifequals name "Search"}}
  	<a href="#">
  		<span  class="show-tab">
		  <span class="hidden-xs"><span class="glyphicon glyphicon-list-alt"></span> {{name}}</span>
	  	</span>
	</a>
{{/ifequals}}
{{#unlessequals name "Search"}}
  	<a href="#">
  		<span  class="show-tab">
	  		<span class="glyphicon glyphicon-pencil lead visible-xs"></span>
	  		<span class="hidden-xs"><span class="glyphicon glyphicon-pencil"></span> {{name}} </span>
	  	</span>
	  	&nbsp;
	  	<button type="button" class="close" aria-hidden="true">
	  		&times;
	  	</button>
	</a>
{{/unlessequals}}
<div class="tmpl-hint">end tab-label</div>