<div class="tmpl-hint">start tab-label</div>
{{#ifequals name "Search"}}
  	<a data-toggle="tab" href="#tab-search" class="show-tab" id="tab-label-search">
  		<span class="glyphicon glyphicon-list-alt lead visible-xs"></span>
  		<span class="hidden-xs"><span class="glyphicon glyphicon-list-alt"></span> {{name}} </span>
	</a>
{{/ifequals}}
{{#unlessequals name "Search"}}
  	<a data-toggle="tab" href="#tab-{{id}}" class="show-tab" id="tab-label-{{id}}">
  		<span class="glyphicon glyphicon-pencil lead visible-xs"></span>
  		<span class="hidden-xs"><span class="glyphicon glyphicon-pencil"></span> {{name}} </span>
	  	&nbsp;
	  	<span class="close-tab pull-right" aria-hidden="true">
	  		&times;
	  	</span>
	</a>
{{/unlessequals}}
<div class="tmpl-hint">end tab-label</div>