<div class="tmpl-hint">tabbed-layout</div>
<div class="container configurable-fluid">
<div class="row">
	<div class="col-md-12">
		<div class="well">
			<h2 class="view-title">{{ label }}</h2>
		</div>
		<!-- Nav tabs -->
		<div class="region-nav-tabs"></div>

		<div class="region-tab-content"></div>
	</div>
</div>
<div class="tmpl-hint">/ tabbed-layout</div>