<div class="tmpl-hint">start UseCaseCardFormView.hbs</div>
<div class="card">
  <div class="card-header">
		{{{viewTitle}}}
  </div>
  <div class="card-block">
    <p class="card-text">{{{viewMessage}}}</p>
    <form>
    </form>
  </div>
</div>
<div class="tmpl-hint">end UseCaseCardFormView.hbs</div>
