<div class="tmpl-hint">start UseCaseSearchLayout</div>

<div class="row">
  <div class=" col-lg-3 criteriaEntryRegion">
  </div>
  <main class=" col-lg-9 contentRegion">
  </main>
</div>
<div class="tmpl-hint">end UseCaseSearchLayout</div>
