<ul id="users-list">
    {{#each collection}}
        <li>{{firstName}} {{lastName}}</li>
    {{/each}}
</ul>
<p>
  <button id="createUser" class="btn btn-primary" type="button">Add New User</button>
</p>