<div class="control-group">
  <input class="firstName" type="text" placeholder="First Name" value="{{firstName}}" />
  <input class="lastName" type="text" placeholder="Last Name" value="{{lastName}}" />
</div>
<input type="submit" class="btn btn-success" value="Save" />