<div class="tmpl-hint">start userDetails-layout.hbs</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			<span class="glyphicon glyphicon-lock"></span>
			<span class="view-title">Login</span>
			<span class="pull-right">
				<button class="btn btn-info  btn-xs">Forgot password?</button>
			</span>
		</h3>

	</div>
	<div class="panel-body">
		<div id="calipsoModelDrivenBrowseLayout-contentRegion">
			<!--Body content-->
		</div>
	</div>
</div>
<div class="tmpl-hint">end userDetails-layout.hbs</div>
