<div class="tmpl-hint">start userDetails-layout.hbs</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div id="calipsoModelDrivenBrowseLayout-contentRegion">
			<!--Body content-->
		</div>
	</div>
</div>
<!--/col -->
<div class="col-md-4"></div>
</div>
<!-- /row -->

<div class="tmpl-hint">end userDetails-layout.hbs</div>
