<div class="tmpl-hint">start UserDetailsLayout.hbs</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
		<div class="contentRegion">
			<!--Body content-->
		</div>
	</div>
</div>
<!--/col -->
<div class="col-md-4"></div>
	<button class="btn btn-social-login btn-social-login-facebook">fb signin</button>
</div>
<!-- /row -->

<div class="tmpl-hint">end UserDetailsLayout</div>
