<div class="tmpl-hint">start userRegistration-layout.hbs</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">

		<!-- Panel: register -->
		<div class="panel panel-default">
			<div class="panel-heading" role="tab">
				<h4 class="panel-title">
					<i class="fa fa-user-plus"></i> Create New Account
				</h4>
			</div>
			<div class="panel-body">
				<p>Fill in your name and email address bellow to quickly create a new account.</p>
				<div id="calipsoModelDrivenBrowseLayout-contentRegion">
					<!--Body content-->
				</div>
			</div>
		</div>

	</div>
	<!--/col -->
	<div class="col-md-4"></div>
</div>
<!-- /row -->

<div class="tmpl-hint">end userRegistration-layout.hbs</div>
