<div class="tmpl-hint">start userRegistrationSubmitted.hbs</div>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="fa fa-user-plus"></i> 
                        {{labels.tmpl.userRegistration.titleNewAccount}} </div>
                <div class="panel-body">
                   <p class="text-success">{{labels.tmpl.userRegistration.submitted}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<div class="tmpl-hint">end userRegistrationSubmitted.hbs</div>
