<div class="tmpl-hint">start userRegistration-layout.hbs</div>

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">

		<!-- Panel: register -->
		<div class="panel panel-default">
			<div class="card-header" role="tab">
				<h4 class="card-title">
					<i class="fa fa-user-plus"></i>
                        {{labels.tmpl.userRegistration.titleNewAccount}}
				</h4>
			</div>
			<div class="card-block">
                <p>{{labels.tmpl.userRegistration.formHelpNewAccount}}</p>
				<div id="calipsoModelDrivenBrowseLayout-contentRegion">
					<!--Body content-->
				</div>
                <p>{{{labels.tmpl.userRegistration.registerOffline}}}</p>
			</div>
		</div>

	</div>
	<!--/col -->
	<div class="col-md-4"></div>
</div>
<!-- /row -->

<div class="tmpl-hint">end userRegistration-layout.hbs</div>
