<h3>Users</h3>
<ul id="users-list">
    {{#each collection}}
        <li class="user-link"><div id="{{userName}}">{{userName}} ({{firstName}} {{lastName}})</div></li>
    {{/each}}
</ul>
<p>
  <button id="createUser" class="btn btn-primary" type="button">Add New User</button>
</p>