<ul id="users-list">
    {{#each collection}}
        <li><div id="{{userName}}">{{firstName}} {{lastName}}</div></li>
    {{/each}}
</ul>
<p>
  <button id="createUser" class="btn btn-primary" type="button">Add New User</button>
</p>