<div class="tmpl-hint">start wizard-layout.hbs</div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h2 class="view-title"></h2>
        </div>
        <div class="wizard-progress"></div>
        <div class="panel panel-default">
            <div class="panel-heading step-title"></div>
            <div class="panel-body wizard-step"></div>
        </div>
    </div>
</div>
<div class="tmpl-hint">end wizard-layout.hbs</div>
