<div class="tmpl-hint">start wizard-layout.hbs</div>
<div class="row">
	<div class="col-md-12">
		<div class="well well-sm">
			<h4 class="view-title clearfix"></h4>


		</div>
		<div class="panel panel-default">
			<div class="card-header">
                <h4>
	                <div class="btn-group wizard-title">
	                    <button type="button" class="btn btn-default dropdown-toggle"
	                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                        Action <span class="caret"></span>
	                    </button>
	                    <ul class="dropdown-menu">
	                        <li><a href="#">Action</a></li>
	                        <li><a href="#">Another action</a></li>
	                        <li><a href="#">Something else here</a></li>
	                        <li role="separator" class="divider"></li>
	                        <li><a href="#">Separated link</a></li>
	                    </ul>
	                </div>
	                <span class="step-title"></span>
                </h4>
			</div>
			<div class="card-block wizard-step"></div>
		</div>
	</div>
</div>
<div class="tmpl-hint">end wizard-layout.hbs</div>
