<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd


        http://www.springframework.org/schema/util      http://www.springframework.org/schema/util/spring-util-4.3.xsd">

    <!--
    <bean id="xmlMapper" class="com.fasterxml.jackson.dataformat.xml.XmlMapper">
        <constructor-arg ref="xmlModule"/>
    </bean>

    <bean id="xmlModule" class="com.fasterxml.jackson.dataformat.xml.JacksonXmlModule">
        <property name="defaultUseWrapper" value="false"/>
    </bean>

    <bean id="xmlObjectMapperFactory" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"
          p:indentOutput="true" p:failOnEmptyBeans="false">
        <property name="featuresToDisable">
            <array>
                <util:constant
                        static-field="com.fasterxml.jackson.databind.DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES"/>
                <util:constant static-field="com.fasterxml.jackson.databind.MapperFeature.DEFAULT_VIEW_INCLUSION"/>
            </array>
        </property>
        <property name="objectMapper" ref="xmlMapper"/>
    </bean>

    -->
    <bean id="jsonObjectMapperFactory" class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"
          p:indentOutput="true" p:failOnEmptyBeans="false">
        <property name="featuresToDisable">
            <array>
                <util:constant
                        static-field="com.fasterxml.jackson.databind.DeserializationFeature.FAIL_ON_UNKNOWN_PROPERTIES"/>
                <util:constant
                        static-field="com.fasterxml.jackson.databind.DeserializationFeature.READ_DATE_TIMESTAMPS_AS_NANOSECONDS"/>
                <util:constant
                        static-field="com.fasterxml.jackson.databind.DeserializationFeature.ADJUST_DATES_TO_CONTEXT_TIME_ZONE"/>
                <util:constant
                        static-field="com.fasterxml.jackson.databind.SerializationFeature.WRITE_DATES_AS_TIMESTAMPS"/>
            </array>
        </property>
        <property name="featuresToEnable">
            <array>
                <util:constant static-field="com.fasterxml.jackson.databind.MapperFeature.DEFAULT_VIEW_INCLUSION"/>
            </array>
        </property>
    </bean>

    <bean class="com.fasterxml.jackson.module.paramnames.ParameterNamesModule"/>
    <bean class="com.fasterxml.jackson.datatype.jdk8.Jdk8Module"/>
    <bean class="com.fasterxml.jackson.datatype.jsr310.JavaTimeModule"/>

    <!-- 	<bean id="conversionService" -->
    <!-- 		class="org.springframework.context.support.ConversionServiceFactoryBean"> -->
    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <!-- converters is a set of both converters and converterfactories -->
                <bean class="com.restdude.domain.base.binding.CustomEnumConverterFactory"/>
                <bean class="com.restdude.domain.friends.binding.FriendshipIdDeserializer"/>
            </set>
        </property>
    </bean>


</beans>