<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans     http://www.springframework.org/schema/beans/spring-beans-4.3.xsd


        http://www.springframework.org/schema/util      http://www.springframework.org/schema/util/spring-util-4.3.xsd">
        

	<!-- Email Sender -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${mail.server.host}" />
		<property name="port" value="${mail.server.port}" />
		<property name="protocol" value="${mail.server.protocol}" />
		<!-- override file and comment out un/pw if not used -->
		<property name="username" value="${mail.server.username}" /> 
		<property name="password" value="${mail.server.password}" />
		<property name="javaMailProperties">
			<util:properties location="classpath:javamail.properties" />
		</property>
	</bean>
    
</beans>