<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.accountconfirmation.expired.title}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
        .greetings{color:#333333;}
        </style>
    </head>
    <body>
        <p class="greetings" th:text="#{email.greeting(${user.getFirstName()})}"
           th:unless="${#strings.isEmpty(user.getFirstName())}">
            Hello, Peter Static!
        </p>
        <p class="greetings" th:text="#{email.greeting(${user.getUsername()})}"
           th:if="${#strings.isEmpty(user.getFirstName())}">
            Hello, Peter Static!
        </p>
        <p th:text="#{email.accountconfirmation.expired.clicklinktoconfirm}">
            The previous email verification or password reset link sent to you has expired. You can request a new one at
            any time by clicking on the link bellow.
        </p>
        <p>
            <a th:href="@{#{email.accountconfirmation.expired.link(${baseUrl}, ${user.getCredentials().getEmail()})}}"
               th:text="#{email.accountconfirmation.expired.link(${baseUrl}, ${user.getCredentials().getEmail()})}"> </a>
        </p>
        <p class="greetings">
            &emsp;<span th:text="#{email.regards}"></span><br/>
            &emsp; <em><span th:text="#{email.signature}"></span></em>
        </p>
    </body>
</html>
