<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:remove="all">Password Reset Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <style>
        .greetings{color:#333333;}
        </style>
    </head>
    <body>
        <p class="greetings" th:text="#{email.greeting(${user.getFirstName()})}"
        	th:unless="${#strings.isEmpty(user.getFirstName())}">
            Hello, Peter Static!
        </p>
        <p class="greetings" th:text="#{email.greeting(${user.getUsername()})}"
        	th:if="${#strings.isEmpty(user.getFirstName())}">
            Hello, Peter Static!
        </p>
        <p th:text="#{email.token.is(${user.getResetPasswordToken()})} ">
        Your confirmation token is:
        </p>
        <p th:text="#{email.passwordreset.clicklinktoconfirm}">
        Click the following link to create a new password: 
        </p>
        <p>
        	<a th:href="@{#{email.passwordreset.link(${baseUrl}, ${user.getUsername()}, ${user.getResetPasswordToken()})}}"
        	 th:text="#{email.passwordreset.link(${baseUrl}, ${user.getUsername()}, ${user.getResetPasswordToken()})}"> </a>
        </p>
        <p class="greetings">
        	&emsp;Regards, <br />
            &emsp; <em>The Team</em>
        </p>
    </body>
</html>
