<!--

    Copyright (c) 2007 - 2013 www.Abiss.gr

    This file is part of Calipso, a software platform by www.Abiss.gr.

    Calipso is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Calipso is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with Calipso. If not, see http://www.gnu.org/licenses/agpl.html

-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/data/jpa
                           http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

    <context:component-scan base-package="gr.abiss.calipso" />
	<!-- Dynamic JPA Search -->
    <jpa:repositories base-package="gr.abiss.calipso" 
    	factory-class="gr.abiss.calipso.jpasearch.repository.RepositoryFactoryBean" />
    	
   	<!-- THYMELEAF: Template Resolver for email templates -->
	<bean id="emailTemplateResolver" class="org.thymeleaf.templateresolver.ClassLoaderTemplateResolver">
	  <property name="prefix" value="mail/" />
	  <property name="templateMode" value="HTML5" />
	  <property name="characterEncoding" value="UTF-8" />
	  <property name="order" value="1" />
	</bean> 

	<!-- THYMELEAF: Template Engine (Spring3-specific version) -->
	<bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
	  <property name="templateResolvers">
	    <set>
	      <ref bean="emailTemplateResolver" />
	      <!-- ref bean="webTemplateResolver" /-->
	    </set>
	  </property>
	</bean> 
</beans>
